.filter-section-container {
  height: 380px;
  width: 100vw;
  margin-bottom: 30px;
}

.explore-menu-p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 30px;

  margin-left: 7.5%;
  margin-bottom: 30px;
}

.explore-menu-p-2 {
  width: 100%;
}

.explore-menu-p-2 p {
  font-family: "Poppins", sans-serif;
  margin-left: 7.5%;
  margin-bottom: 30px;
  font-size: 17px;
}

.filter-product-container {
  width: 85vw;

  height: 215px;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 7%;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 130px;
  align-items: center;
  height: 200px;
}

.product-img-container {
  height: 125px;
  width: 125px;
  margin-bottom: 15px;
}

.product-container:nth-child(1) {
  margin-left: 10px;
}

.product-img-container img {
  height: 100%;
  width: 100%;
  border-radius: 70%;
  cursor: pointer;
}

.product-img-container img.active {
  border: solid 4px orange;
}

.product-name-container {
  cursor: pointer;
}

.product-name-container p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

/*Media screen*/

@media screen and (max-width: 1366px) and (max-height: 900px) {
  .filter-product-container {
    width: 88vw;

    margin-left: 6%;
  }

  .explore-menu-p {
    margin-left: 6.5%;
  }

  .explore-menu-p-2 p {
    margin-left: 6.5%;
  }
}

@media screen and (max-width: 1200px) and (max-height: 800px) {
  .filter-product-container {
    width: 90vw;
    justify-content: center;
    gap: 1%;

    margin-left: 5.5%;
  }

  .product-container {
    width: 123px;
  }

  .product-img-container {
    height: 125px;
    width: 125px;
  }

  .product-img-container img {
    height: 90%;
    width: 90%;
    border-radius: 70%;
    cursor: pointer;
  }

  .explore-menu-p {
    margin-left: 5%;
  }

  .explore-menu-p-2 p {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .filter-product-container {
    width: 88vw !important;
    align-items: center;
    gap: 0.2%;
  }

  .product-container {
    /* width: 123px; */
    width: 110px;
    height: 130px;
  }

  .product-name-container p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }

  .product-img-container {
    width: 110px;
    display: flex;
    justify-content: center;
  }

  .product-img-container img {
    height: 100%;
    width: 85%;

    border-radius: 70%;
    cursor: pointer;
  }

  .explore-menu-p {
    margin-left: 5%;
  }

  .explore-menu-p-2 p {
    margin-left: 5%;
    font-size: 15px;
    margin-bottom: 5%;
  }

  .filter-section-container {
    height: 330px;
  }

  .explore-menu-p {
    margin-left: 3.7%;
  }

  .explore-menu-p-2 p {
    margin-left: 3.7%;
  }

  .filter-section-container {
    height: 390px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 720px) {
  .filter-product-container {
    width: 88vw !important;
    align-items: center;
    gap: 0.2%;
  }

  .product-container {
    /* width: 123px; */
    width: 110px;
    height: 130px;
  }

  .product-name-container p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }

  .product-img-container {
    width: 110px;
    display: flex;
    justify-content: center;
  }

  .product-img-container img {
    height: 100%;
    width: 85%;

    border-radius: 70%;
    cursor: pointer;
  }

  .explore-menu-p {
    margin-left: 5%;
  }

  .explore-menu-p-2 p {
    margin-left: 5%;
    font-size: 15px;
    margin-bottom: 5%;
  }

  .filter-section-container {
    height: 330px;
  }

  .explore-menu-p {
    margin-left: 3.7%;
  }

  .explore-menu-p-2 p {
    margin-left: 3.7%;
  }

  .filter-section-container {
    height: 390px;
  }
}

@media screen and (max-width: 900px) and (max-height: 1600px) {
  .explore-menu-p {
    margin-left: 8%;
  }

  .explore-menu-p-2 p {
    margin-left: 8%;
    font-size: 14px;
  }

  .filter-section-container {
    margin-bottom: 10px;
    height: 600px;
  }

  .filter-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70%;
    width: 90vw;
    border: none;
    padding: 0;
    margin-left: 40px;
    align-content: center;
  }

  .product-container {
    margin-left: 5%;
    width: 92%;
  }
  .product-img-container img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) and (max-height: 1400px) {
  .explore-menu-p {
    margin-left: 4%;
  }

  .explore-menu-p-2 p {
    margin-left: 4%;
    font-size: 13px;
  }
}

@media screen and (max-width: 720px) and (max-height: 1080px) {
  .product-container {
    margin-left: 0% !important;
  }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
  .filter-product-container {
    margin-left: 32px;
  }

  .product-container {
    width: 110px;
    margin-left: 10% !important;
  }

  .product-img-container {
    width: 100%;
    height: 50%;
  }

  .product-name-container p {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) and (max-height: 850px) {
  .filter-product-container {
    margin-left: 25px;
  }
  .product-container {
    margin-left: 0% !important;
    width: 105px;
  }
  .product-img-container {
    width: 90%;
  }
}

@media screen and (max-width: 428px) and (max-height: 926px) {
  .explore-menu-p {
    margin-left: 2%;
  }

  .explore-menu-p-2 p {
    margin-left: 2%;
  }

  .filter-product-container {
    width: 93vw;
    margin-left: 6px;
  }
  .product-container {
    width: 93px;
  }

  .product-name-container p {
    font-size: 13px;
  }

  .filter-section-container {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 412px) and (max-height: 915px),
  screen and (max-width: 430px) and (max-height: 932px) {
  .explore-menu-p {
    margin-left: 2%;
  }

  .explore-menu-p-2 p {
    margin-left: 2%;
  }

  .filter-product-container {
    width: 93vw;
    margin-left: 6px;
  }
  .product-container {
    width: 93px;
  }

  .product-name-container p {
    font-size: 13px;
  }

  .filter-section-container {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 414px) and (max-height: 750px) {
  .explore-menu-p {
    margin-left: 2%;
  }

  .explore-menu-p-2 p {
    margin-left: 2%;
  }

  .filter-product-container {
    width: 93vw;
    margin-left: 15px;
  }
  .product-container {
    width: 93px;
  }

  .product-name-container p {
    font-size: 13px;
  }

  .filter-section-container {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 390px) and (max-height: 884px),
  screen and (max-width: 393px) and (max-height: 851px) {
  .explore-menu-p-2 p {
    width: 100%;
    font-size: 12px;
    margin-bottom: 50px;
  }
  .filter-product-container {
    height: 70%;
    width: 98vw !important;
    margin-left: 0px;
  }
  .product-container {
    width: 85px;
  }

  .product-name-container p {
    font-size: 12.5px;
  }

  .filter-section-container {
    height: 600px;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .explore-menu-p-2 p {
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .filter-product-container {
    height: 60%;
    width: 98vw !important;
    margin-left: 3px;
  }
  .product-container {
    width: 90px;
  }

  .product-name-container p {
    font-size: 12.5px;
  }

  .filter-section-container {
    height: 430px;
  }
}

@media screen and (max-width: 375px) and (max-height: 640px) {
  .explore-menu-p-2 p {
    width: 100%;
    font-size: 12px;
  }
  .filter-product-container {
    height: 60%;
    width: 98vw !important;
    margin-left: 3px;
  }
  .product-container {
    width: 90px;
  }

  .product-name-container p {
    font-size: 12.5px;
  }

  .filter-section-container {
    height: 430px;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .explore-menu-p-2 p {
    width: 100%;
    font-size: 11.5px;
  }
  .product-container {
    width: 87px;
  }
}

@media screen and (max-width: 320px) and (max-height: 640px) {
  .explore-menu-p-2 p {
    width: 100%;
    font-size: 10px;
    margin-bottom: 40px;
    /* margin-left: 1px; */
  }
  .product-container {
    width: 80px;
  }

  .product-name-container p {
    font-size: 10.5px;
  }
}
